:root {
  --dark-azure: #142F42;
  --dark-azure-80: rgb(20, 47, 66, 0.8);
  --dark-azure-40: rgb(20, 47, 66, 0.4);
  --burnt-orange: #DD5339;
  --vivid-lime: #B6F16A;
  --white: #FEFEFE;
  --background: var(--white);
  --foreground: var(--dark-azure);
  --body-text: var(--white);
  --heading-text: var(--burnt-orange);
  --font-body: var(--font-source-code-pro);
  --font-heading: var(--font-inter);
  
  --mobile: 414px;
  --tablet: 769px;
  --desktop: 1025px;
  --fullhd: 1345px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-azure);
    --foreground: var(--white);
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-inter);
  letter-spacing: -1.2px;
  text-transform: capitalize;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer important!;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.button-primary {
  display: block;
  padding: 0.5rem 2.5rem;
  border-radius: 1.25rem;
  background-color: var(--burnt-orange);
  color: var(--white);
  font-family: var(--font-inter);
  letter-spacing: -1.3px;
  font-weight: 600;
  font-size: 1rem;
  max-width: fit-content;
  border: none;
}

.button-primary:hover {
  background-color: var(--dark-azure);
  transition: all 0.2 ease;
  cursor: pointer;
}

@media(max-width: 414px){
  .button-primary {
    font-size: 0.85rem;
    padding: 0.5rem 1.5rem;
  }
}

.arrow-button {
  position: relative;
  overflow: hidden;
  width: fit-content;
  padding-right: calc(2.5rem + 10px);
}

.arrow-button img {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

@keyframes diagonal-up {
  0% {
    transform: translateX(1) translateY(1);
  }
  18% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: translateX(8px) translateY(-18px);
  }
  41% {
    transform: translateX(-25px) translateY(20px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateX(1) translateY(1);
  }
}

.arrow-button:hover img {
  animation: diagonal-up 0.5s cubic-bezier(0.82, 0.14, 0.23, 0.885);
  filter: brightness(0) saturate(100%) invert(99%) sepia(33%) saturate(2481%) hue-rotate(21deg) brightness(96%) contrast(88%);
}

@media (max-width: 414px) {
  .arrow-button {
    padding-right: calc(1.5rem + 10px);
  }

  .arrow-button img {
    right: 16px;
  }
}