.page {
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 0 0 64px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  width: 100%;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main section {
  width: 100%;
  padding: 0 1.5rem;
}

/*? hero ?*/
section.hero {
  padding: 0;
  position: relative;
}
/* .hero {
  height: 100svh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: visible;
} */

.heroBackground {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0;
  background: linear-gradient(
    to bottom,
    var(--dark-azure) 0%,
    #87ceeb 60%,
    var(--white) 100%
  );
  /* background-attachment: fixed; */
  min-height: 200svh;
  width: 100%;
}

.heroPanel {
  border: solid 2px lime;
  width: 100%;
  max-height: 100svh;
  position: relative;
}

.heroVisual {
  border: solid 2px orange;
  width: 100%;
  position: sticky;
  top: 0;
  height: 150svh;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
}

.heroVisual img,
.heroVisual video {
  display: block;
  object-fit: cover;
  /* width: 100%; */
  min-height: 150svh;
}

.heroContent {
  background-color: var(--white);
}






/*? services ?*/
.serviceInfo > div {
  display: flex;
}

.serviceInfo h3 {
  margin-bottom: 1.2rem;
}

/* map block */
.serviceInfo > .serviceArea {
  align-items: center;
  gap: 64px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--fullhd);
}

.serviceInfo > .serviceArea p {
  margin-bottom: 24px;
  max-width: 400px;
}

.serviceInfo > .serviceArea img {
  display: block;
}

/* services list */
.serviceInfo > .servicesList {
  margin: 64px auto 48px;
  padding: 64px 0;
  border-top: solid 1px var(--dark-azure-40);
  border-bottom: solid 1px var(--dark-azure-40);
  align-items: center;
  flex-direction: column;
  max-width: var(--desktop);
}

.serviceInfo > .servicesList li {
  list-style: none;
  position: relative;
  padding-left: 36px;
}

.serviceInfo > .servicesList li img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.serviceInfo > .servicesList a {
  margin-top: 2.4rem;
}

.serviceInfo > .servicesList > div:first-of-type {
  justify-content: flex-start;
}

/*? about ?*/
/* fifty fifty blocks */
.fiftyFifty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  max-width: var(--fullhd);
  margin: 0 auto 24px;
}

.fiftyFifty > div {
  width: 50%;
  display: flex;
}

.fiftyFifty:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.fiftyFifty:nth-of-type(2n + 1) > div:nth-of-type(2) {
  justify-content: flex-end;
}

.fiftyFifty > h3 {
  margin-bottom: 2rem;
}

.fiftyFifty .visualWrapper {
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
}

.fiftyFifty img,
.fiftyFifty video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 80% 0;
}

/* about section heading */
.about .fiftyFifty:first-of-type {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  margin-bottom: 0;
}

.about .fiftyFifty:first-of-type > h3 {
  margin-bottom: 0;
}

.fiftyFifty > h4 {
  color: var(--burnt-orange);
  margin-bottom: 2rem;
}



/* small desktop/most mobile */
@media (max-width: 1052px) {
  .main {
    align-items: center;
  }

  .serviceInfo > .servicesList {
    margin-bottom: 0;
    max-width: 85%;
  }

  .about .fiftyFifty:first-of-type {
    margin: 0 0 -16px;
  }

  .serviceInfo > .serviceArea,
  .fiftyFifty,
  .fiftyFifty:nth-of-type(2n) {
    gap: 32px;
  }

  .about .fiftyFifty img,
  .about .fiftyFifty video {
    width: 100%;
    height: auto;
  }
}



/* mobile */
@media (max-width: 769px) {
  .page {
    padding-bottom: 48px;
  }

  .main {
    align-items: center;
    gap: 48px
  }

  .serviceInfo > .serviceArea {
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }

  .serviceInfo > .servicesList {
    margin: 48px auto 0;
    padding: 48px 0;
  }

  .serviceArea img {
    width: 100%;
    height: auto;
  }

  .about .fiftyFifty:first-of-type {
    margin: 0 0 -28px;
  }

  .fiftyFifty > h4 {
    margin: 0;
  }

  .fiftyFifty,
  .fiftyFifty:nth-of-type(2n) {
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
  }

  .fiftyFifty > div {
    width: 100%;
    max-width: 100%;
  }
}