.footer {
  background-color: var(--dark-azure);
  color: var(--white);
  padding: 0.75rem 1.5rem;
}

.footer > div {
  max-width: var(--fullhd);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials,
.phone {
  display: flex;
  align-items: center;
}

.phone > a {
  display: flex;
  align-items: center;
  font-family: var(--font-source-code-pro);
  font-weight: 700;
}

.phone > a:hover {
  color: var(--vivid-lime);
}

.phone > a:hover > img {
filter: brightness(0) saturate(100%) invert(99%) sepia(33%) saturate(2481%) hue-rotate(21deg) brightness(96%) contrast(88%);
}

.phone > a > img {
  display: block;
  margin: 0 0.5rem 0 0;
}

.icon:hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(33%) saturate(2481%) hue-rotate(21deg) brightness(96%) contrast(88%);
}

.socials > a {
  display: block;
  margin: 0 1rem;
  color: var(--white);
}

.socials > a:last-of-type {
  margin: 0 0 0 1rem;
}

.socials > a > img {
  display: block;
}

@media (max-width: 414px) {
  .footer {
    padding: 1.5rem;
  }
  .footer > div {
    flex-direction: column-reverse;
    align-items: center;
  }

  .phone {
    margin-top: 1.5rem;
  }

  .phone > a > img {
    margin: 0 0.75rem 0 0;
  }

  .socials > a {
    margin: 0 0.75rem;
  }

  .socials > a:first-of-type {
    margin: 0 0.75rem 0 0;
  }

  .socials > a:last-of-type {
    margin: 0 0 0 0.75rem;
  }
}
