.header {
    width: 100%;
    position: fixed;
    background-color: var(--white);
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.4s cubic-bezier(0.82, 0.14, 0.23, 0.885);
    padding: 0 1.5rem;
    min-height: 75px;
    max-height: 75px;
    border-bottom: solid 1px var(--dark-azure);
    display: flex; 
    align-items: center;
}

.header > .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.header > .headerWrapper a:not(.arrowButton) img {
    display: block;
    margin-top: 2px;
}

.header > .headerWrapper a {
    display: block;
}

.header > .headerWrapper a.arrowButton {
    position: relative;
    width: fit-content;
    padding-right: calc(2.5rem + 10px);
}


.header > .headerWrapper a.arrowButton > img {
    position: absolute;
    top: 50%; 
    right: 30px;
    transform: translateY(-50%);
}

@keyframes diagonal-up {
    0% {
        transform: translateX(1) translateY(1);
    }
    18% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    40% {
        transform: translateX(8px) translateY(-18px);
    }
    41% {
        transform: translateX(-25px) translateY(20px);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateX(1) translateY(1);
    }
}

.header > .headerWrapper a.arrowButton:hover img {
    animation: diagonal-up 0.6s cubic-bezier(.82,.14,.23,.885);
}

@media(max-width: 414px){
    .header > .headerWrapper a:not(.arrowButton) img {
        width: 120px;
        height: auto;
    }

    .header > .headerWrapper a.arrowButton {
        padding-right: calc(1.5rem + 10px);
    }

    .header > .headerWrapper a.arrowButton > img {
        right: 16px;
    }
}