.header {
  width: 100%;
  position: fixed;
  background-color: var(--white);
  top: 0;
  left: 0;
  z-index: 1000;
  transition: top 0.4s cubic-bezier(0.82, 0.14, 0.23, 0.885);
  padding: 0 1.5rem;
  min-height: 75px;
  max-height: 75px;
  border-bottom: solid 1px var(--dark-azure);
  display: flex;
  align-items: center;
}

.header > .headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--fullhd);
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.header > .headerWrapper a:not(.arrowButton) img {
  display: block;
  margin-top: 2px;
}

.header > .headerWrapper a {
  display: block;
}

@media (max-width: 414px) {
  .header > .headerWrapper a:not(.arrowButton) img {
    width: 120px;
    height: auto;
  }
}
